@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-body: #f7fafc;
  --color-borders: #e1e1e4;
  --color-main: #3872B1;
  --color-sec: #1B4477;
  --color-dark: #0b0c0c;
}

.hero-bg {
  background-image: url('./assets/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.offers-slider {
  overflow: visible;
}

.offers-slider .swiper-button-next,
.offers-slider .swiper-button-prev {
  color: #000;
}

.offers-slider .swiper-button-prev {
  left: -2rem;
}

.offers-slider .swiper-button-next {
  right: -2rem;
}
